* {
    content: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/static/")
}

@font-face {
    font-family: 'Galano';
    src: url("../fonts/first_font/GalanoGrotesque-Bold.ttf");
}

@font-face {
    font-family: 'Spline Sans';
    src: url("../fonts/Spline_Sans/static/");
}

@font-face {
    font-family: "Varela";
    src: url("../fonts/second_fond/VarelaRound-Regular.ttf");
}

.row {
    display: flex;
    margin: 0 auto;
}

header {
    h1 {
        font-family: 'Galano';
        font-size: 64px;
        line-height: 69px;
    }
}

.intro {
    background-color: #0A0C26;

    .container {
        header {
            h1 {
                font-family: 'Galano';
                font-size: 64px;
                line-height: 69px;
                text-align: center;

                .firts-title {
                    color: #C947A1;
                }

                .sec-title {
                    color: #13DD91;
                }

                .third-title {
                    color: #4E77B9;
                }

                .four-title {
                    color: #6D47C9;
                }
            }
        }

        .row {
            justify-content: space-between;
            align-items: center;

            .intro-col {
                width: 50%;

                img {
                    width: 100%;
                    height: 100%;
                }

                h2 {
                    font-family: 'Varela';
                    font-weight: 400;
                    font-size: 48px;
                    line-height: 58px;
                    color: #F8F6FA;
                    margin-bottom: 40px;

                    span {
                        color: #FE2C55;
                    }
                }

                a {
                    width: 200px;
                    height: 56px;
                    background: linear-gradient(97.62deg, #EB11AA -15.99%, #2E81E2 104.3%);
                    border-radius: 10px;
                    font-family: 'Galano';
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 26px;
                    color: #FFFFFF;
                    text-decoration: none;
                    padding: 20px 30px;

                }
            }

            ._firts-col {
                width: 40%;
            }

            ._sec-col {
                width: 60%;
            }

        }
    }

}

.intro-article {
    background:
        linear-gradient(89.96deg, rgba(203, 71, 160) 0.02%, rgba(105, 71, 203) 49.47%, rgb(0, 228, 118) 99.97%);
    padding: 20px 0;

    .container {
        p {
            width: 50%;
            font-family: 'Varela';
            font-weight: 400;
            font-size: 30px;
            line-height: 40px;
            color: #FFFFFF;
            text-align: center;
            margin: 0 auto;

        }
    }
}

.about {

    background: #0A0C26;
    padding: 80px 0;

    .container {
        .row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;

            .about-column {
                width: 50%;

                p {
                    font-family: 'Varela';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 40px;
                    color: #F8F6FA;
                    margin-bottom: 35px;
                }

                a {
                    width: 200px;
                    height: 56px;
                    background: linear-gradient(97.62deg, #EB11AA -15.99%, #2E81E2 104.3%);
                    border-radius: 10px;
                    color: #F8F6FA;
                    line-height: 26px;
                    font-family: 'Galano';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    text-decoration: none;
                    padding: 20px 30px;
                }
            }

            .about-img {
                width: 40%;

                .about-img__row {
                    display: flex;
                    flex-wrap: wrap;

                    img {
                        width: 200px;
                        margin: 6px;
                        object-fit: cover;
                    }
                }
            }
        }

        .guarantee {
            text-align: center;
            padding-top: 40px;

            h3 {
                font-family: 'Galano';
                font-size: 48px;
                line-height: 56px;
                color: #fff;

                span {
                    color: #FE2C55;
                }
            }

            .row {
                flex-direction: row;
                align-items: center;
                flex-wrap: nowrap;
                margin: 0 auto;

                p {
                    width: 75%;
                    font-family: 'Galano';
                    font-size: 26px;
                    line-height: 32px;
                    color: #E6C551;
                    text-align: left;

                }

                img {
                    width: 150px;
                    // height: 150px;
                    object-fit: contain;
                }
            }

            ul {
                width: 80%;

                li {
                    font-family: 'Galano';
                    font-size: 20px;
                    line-height: 24px;
                    color: #02FCB1;
                    margin: 15px 0;
                    list-style-type: circle;
                    text-align: left;
                }
            }
        }
    }
}

.article-helper {
    .container {
        p {
            width: 100%;
            margin: 0 auto;
            color: #FFFFFF;
            text-transform: uppercase;
        }
    }
}

.wrapper {
    background-color: #0A0C26;
    padding: 40px;

    .form {
        .container {
            h4 {
                font-family: 'Varela';
                font-style: normal;
                font-size: 26px;
                line-height: 32px;
                color: #FFFFFF;
                text-align: center;
                width: 80%;
            }

           
            .form_wrap {
                width: 75%;
                border: 2px solid #222;
                padding: 50px 70px;
                margin: 40px auto;

                .form_wrap--item {
                    display: flex;
                    flex-direction: column-reverse;
                    margin: 15px 0;
                    .input-gradient{
                        border: 3px solid;
                        border-image-slice: 1;
                        opacity: 0.7;
                    } 
                    .input-gradient-purple{
                        border-image-source: linear-gradient(to left, #00FF85,#CB47A0, #2E81E2,#13DD91,#4E77B9);
                       
                    }

                    input {
                        border: none;
                        outline: none;
                        border-radius: 10px;
                        padding: 15px;
                        font-family: "Inter";
                        font-weight: 400;
                        font-size: 20px;

                        &:focus,
                        &:focus~label {
                            opacity: 1;
                        }
                    }


                    label {
                        font-family: 'Spline Sans';
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 28px;
                        letter-spacing: 0.2px;
                        color: #FFFFFF;
                        opacity: 0.8;
                    }
                }

            }
            .border-gradient {
                border: 10px solid;
                border-image-slice: 1;
                border-width: 5px;
            }

            .border-gradient-purple {
                border-image-source: linear-gradient(to left, #743ad5,#00FF85, #2E81E2,#d53a9d);
            }

        }

        .form-btn {
            text-align: center;
            margin-top: 15px;

            button {
                width: 392px;
                height: 96px;
                background: #000000;
                border-radius: 100px;
                font-family: 'Inter';
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                color: #FFFFFF;
                outline: none;
                border: none;

                &:active {
                    background-color: #ffffff;
                    color: #000000;
                    transition: all ease 0.3s;
                }

            }
        }
    }
}

/*==== questions ====*/
.accordion-wrapper {
    background-color: #0A0C26;
    padding: 20px 0;

    .container {
        h3 {
            font-family: 'Galano';
            font-size: 48px;
            line-height: 56px;
            line-height: 28px;
            color: #fff;
            text-align: center;
            margin-bottom: 59px;

        }

        .container-ac {
            margin: 0 auto;
            padding-bottom: 10px;
            text-align: center;

            button.accordion {
                background: #fff;
                border-radius: 20px;
                border: none;
                padding: 8px 20px;
                transition: background-color 0.3s linear;
                width: auto;

                p {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 20px;
                    text-align: left;
                    color: #000000;
                    margin-bottom: 0;
                }
            }

            button.accordion.is-open {
                background-color: #45A78D;

                p {
                    color: white;
                }
            }

            .accordion-content {
                width: 80%;
                margin: 0 auto;
                max-height: 0;
                overflow: hidden;
                transition: all 0.5s ease-in-out;
                background-color: #45A78D;
                color: #fff;
                margin-top: 10px;
                border-radius: 8px;
                box-sizing: content-box;

                p {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    color: #fff;
                    padding: 10px;
                    line-height: 19px;
                    margin-bottom: 0;
                }
            }
        }
    }
}