* {
  content: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/static/");
}
@font-face {
  font-family: "Galano";
  src: url("../fonts/first_font/GalanoGrotesque-Bold.ttf");
}
@font-face {
  font-family: "Spline Sans";
  src: url("../fonts/Spline_Sans/static/");
}
@font-face {
  font-family: "Varela";
  src: url("../fonts/second_fond/VarelaRound-Regular.ttf");
}
.row {
  display: flex;
  margin: 0 auto;
}

header h1 {
  font-family: "Galano";
  font-size: 64px;
  line-height: 69px;
}

.intro {
  background-color: #0A0C26;
}
.intro .container header h1 {
  font-family: "Galano";
  font-size: 64px;
  line-height: 69px;
  text-align: center;
}
.intro .container header h1 .firts-title {
  color: #C947A1;
}
.intro .container header h1 .sec-title {
  color: #13DD91;
}
.intro .container header h1 .third-title {
  color: #4E77B9;
}
.intro .container header h1 .four-title {
  color: #6D47C9;
}
.intro .container .row {
  justify-content: space-between;
  align-items: center;
}
.intro .container .row .intro-col {
  width: 50%;
}
.intro .container .row .intro-col img {
  width: 100%;
  height: 100%;
}
.intro .container .row .intro-col h2 {
  font-family: "Varela";
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #F8F6FA;
  margin-bottom: 40px;
}
.intro .container .row .intro-col h2 span {
  color: #FE2C55;
}
.intro .container .row .intro-col a {
  width: 200px;
  height: 56px;
  background: linear-gradient(97.62deg, #EB11AA -15.99%, #2E81E2 104.3%);
  border-radius: 10px;
  font-family: "Galano";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 20px 30px;
}
.intro .container .row ._firts-col {
  width: 40%;
}
.intro .container .row ._sec-col {
  width: 60%;
}

.intro-article {
  background: linear-gradient(89.96deg, rgb(203, 71, 160) 0.02%, rgb(105, 71, 203) 49.47%, rgb(0, 228, 118) 99.97%);
  padding: 20px 0;
}
.intro-article .container p {
  width: 50%;
  font-family: "Varela";
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
}

.about {
  background: #0A0C26;
  padding: 80px 0;
}
.about .container .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.about .container .row .about-column {
  width: 50%;
}
.about .container .row .about-column p {
  font-family: "Varela";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #F8F6FA;
  margin-bottom: 35px;
}
.about .container .row .about-column a {
  width: 200px;
  height: 56px;
  background: linear-gradient(97.62deg, #EB11AA -15.99%, #2E81E2 104.3%);
  border-radius: 10px;
  color: #F8F6FA;
  line-height: 26px;
  font-family: "Galano";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  padding: 20px 30px;
}
.about .container .row .about-img {
  width: 40%;
}
.about .container .row .about-img .about-img__row {
  display: flex;
  flex-wrap: wrap;
}
.about .container .row .about-img .about-img__row img {
  width: 200px;
  margin: 6px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .container .guarantee {
  text-align: center;
  padding-top: 40px;
}
.about .container .guarantee h3 {
  font-family: "Galano";
  font-size: 48px;
  line-height: 56px;
  color: #fff;
}
.about .container .guarantee h3 span {
  color: #FE2C55;
}
.about .container .guarantee .row {
  flex-direction: row;
}
.about .container .guarantee .row p {
  width: 75%;
  font-family: "Galano";
  font-size: 26px;
  line-height: 32px;
  color: #E6C551;
  text-align: left;
}
.about .container .guarantee .row img {
  width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}
.about .container .guarantee ul {
  width: 80%;
}
.about .container .guarantee ul li {
  font-family: "Galano";
  font-size: 20px;
  line-height: 24px;
  color: #02FCB1;
  margin: 15px 0;
  list-style-type: circle;
  text-align: left;
}

.article-helper .container p {
  width: 100%;
  margin: 0 auto;
  color: #FFFFFF;
  text-transform: uppercase;
}

.wrapper {
  background-color: #0A0C26;
  padding: 40px;
}
.wrapper .form .container h4 {
  font-family: "Varela";
  font-style: normal;
  font-size: 26px;
  line-height: 32px;
  color: #FFFFFF;
  text-align: center;
  width: 80%;
}
.wrapper .form .container .form_wrap {
  width: 75%;
  border: 2px solid #222;
  padding: 50px 70px;
  margin: 40px auto;
}
.wrapper .form .container .form_wrap .form_wrap--item {
  display: flex;
  flex-direction: column-reverse;
  margin: 15px 0;
}
.wrapper .form .container .form_wrap .form_wrap--item input {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 15px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
}
.wrapper .form .container .form_wrap .form_wrap--item input:focus, .wrapper .form .container .form_wrap .form_wrap--item input:focus ~ label {
  opacity: 1;
}
.wrapper .form .container .form_wrap .form_wrap--item label {
  font-family: "Spline Sans";
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  opacity: 0.8;
}
.wrapper .form .form-btn {
  text-align: center;
  margin-top: 15px;
}
.wrapper .form .form-btn button {
  width: 392px;
  height: 96px;
  background: #000000;
  border-radius: 100px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  outline: none;
  border: none;
}
.wrapper .form .form-btn button:active {
  background-color: #ffffff;
  color: #000000;
  transition: all ease 0.3s;
}

/*==== questions ====*/
.accordion-wrapper {
  background-color: #0A0C26;
  padding: 20px 0;
}
.accordion-wrapper .container h3 {
  font-family: "Galano";
  font-size: 48px;
  line-height: 56px;
  line-height: 28px;
  color: #fff;
  text-align: center;
  margin-bottom: 59px;
}
.accordion-wrapper .container .container-ac {
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
}
.accordion-wrapper .container .container-ac button.accordion {
  background: #fff;
  border-radius: 20px;
  border: none;
  padding: 8px 20px;
  transition: background-color 0.3s linear;
  width: auto;
}
.accordion-wrapper .container .container-ac button.accordion p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  color: #000000;
  margin-bottom: 0;
}
.accordion-wrapper .container .container-ac button.accordion.is-open {
  background-color: #45A78D;
}
.accordion-wrapper .container .container-ac button.accordion.is-open p {
  color: white;
}
.accordion-wrapper .container .container-ac .accordion-content {
  width: 80%;
  margin: 0 auto;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  background-color: #45A78D;
  color: #fff;
  margin-top: 10px;
  border-radius: 8px;
  box-sizing: content-box;
}
.accordion-wrapper .container .container-ac .accordion-content p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  padding: 10px;
  line-height: 19px;
  margin-bottom: 0;
}/*# sourceMappingURL=styles.css.map */